<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }
        a {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            text-decoration: none;
            background: #007bff;
            color: white;
            border-radius: 5px;
        }
        a:hover {
            background: #0056b3;
        }
    </style>
</head>
<body>

<h1>Welcome to Django Auth System 🚀</h1>

{% if user.is_authenticated %}
    <p>Hello, {{ user.username }}</p>
    <a href="{% url 'profile' %}">Go to Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
{% endif %}

</body>
</html>